body {
  background-color: rgb(255, 255, 255);
  color: #2b2f33;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.name {
  font-size: 7.5rem;
  font-family: 'Playfair Display', serif;
  line-height: 1;
  color: #394652;
}

.about {
  padding: 5px;
  text-align: justify;
  font-size: 1.2rem;
}

.bold {
  /* color: rgb(236, 0, 12); */
  font-weight: 500;
}

.profile {
  width: 90%;
}

nav {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.link:hover {
  cursor: pointer;
  color: rgb(255, 0, 21);
}

.info-div {
  border: 1px #000000 solid;
  margin-left: 0;
  padding-left: 0;
  height: 100%;
}

.main-row {
  margin-top: 100px;
}

.img-div {
  padding-right: 0;
  margin-right: 0;
}